{{#each this}}
  <li class='shortListItem'>
    <div class='shortListFlagBox'>
      <img class='shortMarkupflag' src='{{flags.svg}}' alt='' />
    </div>
    <h2 class='shortMarkupCountry'>{{name.official}}</h2>
  </li>
{{/each}}