* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

body {
  background-color: #d6d6d6;
}

#search-box {
  font: inherit;
  padding: 8px;
  padding-left: 15px;
  max-width: 320px;
  margin-bottom: 16px;
  border: none;
  border-radius: 20px;
  display: block;
}

.fullMarkupflag {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.shortMarkupflag {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100px;
  border-radius: 5px;
}

.shortMarkupCountry {
  display: inline-block;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0px;
  color: #333232;
  font-weight: 400;
  font-size: 20px;
}

.countryCard {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 20px;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.country-list {
  padding-left: 0;
  display: inline-block;
}

.shortListItem {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 10px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.shortListFlagBox {
  display: inline-block;
  max-width: 50px;
  max-height: 50px;
}

.fullMarkupFlagBox {
  width: 200px;
  height: 150px;
  margin: auto;
}

.fullMarkupCountry {
  margin-top: 20px;
  margin-bottom: 15px;
}

.fulltList {
  list-style: none;
  padding-left: 0;
}

.info {
  font-weight: 500;
}

.cardParam {
  color: #919191;
  margin-top: 5px;
  margin-bottom: 5px;
}
